while True:
    userAge = input("Enter your age please: ")   
    
    try:
        if not userAge.isdigit:
            raise TypeError
        else:
            print("your birthyear is: ", 2022 - int(userAge))

    except TypeError:
        print("please enter a number!")
